body{
    font-family: 'courier', sans-serif;
    color: white;
    background-color: black;
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding:0;
    margin:0;
}

.properties {
    position: absolute;
    margin-top:100px;
    margin-left:50px;
    width:300px;
    font-size:27px;
}
.property {
    height:30px;
    border:solid;
    margin-bottom: 20px;
    padding-bottom: 4px;
}