html {

}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Exo 2', sans-serif;
    min-width: 400px;
    min-height: 300px;

}


#game
    {

    background: url('../resources/backdrops/backdrop_03.jpg');
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 400px;
    min-height: 300px;

}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    cursor: pointer;
    outline: none;
    height: 18px;
    background: #666;

}

input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 14px;
    width: 14px;
    background-color: #52BBB7;

}

@font-face {
    font-family: brunoAce;
    src: url(../resources/fonts/BrunoAceSC-Regular.ttf)
}

.hidden{
    display: none;
}

.settings {
    position: absolute;
    top:50px;
    height: 80vh;
    width:80vw;
    z-index: 1000;
    color: #005F73;
    font-family: brunoAce;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100vw;
}

.properties {
    position: absolute;
    margin-top:100px;
    margin-left:50px;
    width:300px;
    font-size:27px;

}
.property {
    height:30px;
    border:solid;
    margin-bottom: 20px;
    padding-bottom: 4px;
}
.label {
    position: absolute;
    left: 10px;

}
.control {
    position: absolute;
    right: 10px;
}

.fullscreenCanvas{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.backdropCanvas {
    z-index: -1;
}

.planetsCanvas {
    z-index: 0;
}

.backgroundFarthestCanvas {
    z-index: 5;
}

.backgroundFarCanvas {
    z-index: 10;
}
.dustCanvas {
    z-index: 15;
}
.backgroundMiddleFarCanvas {
    z-index: 20;
}

.backgroundMiddleCanvas {
    z-index: 30;
}

.playerShipCanvas {
    z-index: 35;
}
.weaponCanvas {
    z-index: 35;
}


.backgroundFrontCanvas {
    z-index: 40;
}

.backgroundFaceCanvas {
    z-index: 50;
}

.settingsCanvas {
    z-index: 999;
}


.sectionCanvasBottom {
    position: absolute;
    display: block;
    z-index: 500;

}
.sectionCanvasLeft {
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 500;

}

.sectionCanvasMiddle {
    position: absolute;
    display: block;
    z-index: 500;

}

.sectionCanvasRight {
    position: absolute;
    display: block;
    z-index: 500;
    overflow: hidden;
}


.background {
    display:none;
}

.sprite {
    display:none;
}

#moon {
    display:none;
}

