.sun{
    background: white;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top:0;
    right: 0;
    margin: 0;
    filter: blur(1px) contrast(15);
    box-shadow: 0 0 30px white, 0 0 40px white, 0 0 50px antiquewhite, 0 0 60px antiquewhite, 0 0 70px antiquewhite;
    z-index: 1;
}

.sun_fire {
    filter: blur(3px) contrast(15);
}

#ui .sun_fire_inner {
    box-sizing: border-box;
}
#ui .sun_fire:nth-child(1) {
    animation: sunFireLeft 210607ms infinite linear;
}
#ui .sun_fire:nth-child(1) .sun_fire_inner {
    width: 71px;
    height: 71px;
    border-top: 3px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 7px solid #e0dfdf;
    border-radius: 43% 52% 67% 47%;
    animation: sunFireInner 12786ms infinite alternate linear;
}
#ui .sun_fire:nth-child(2) {
    animation: sunFireLeft 191906ms infinite linear;
}

#ui .sun_fire:nth-child(3) {
    animation: sunFire 115539ms infinite linear;
}
#ui .sun_fire:nth-child(3) .sun_fire_inner {
    width: 91px;
    height: 91px;
    border-top: 5px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-radius: 52% 63% 59% 72%;
    animation: sunFireInner 12869ms infinite alternate linear;
}
#ui .sun_fire:nth-child(4) {
    animation: sunFireLeft 317181ms infinite linear;
}
#ui .sun_fire:nth-child(4) .sun_fire_inner {
    width: 81px;
    height: 81px;
    border-top: 7px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 8px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-radius: 55% 36% 45% 77%;
    animation: sunFireInner 12052ms infinite alternate linear;
}
#ui .sun_fire:nth-child(5) {
    animation: sunFire 211596ms infinite linear;
}
#ui .sun_fire:nth-child(5) .sun_fire_inner {
    width: 87px;
    height: 71px;
    border-top: 3px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 6px solid #ffffff;
    border-radius: 72% 34% 56% 69%;
    animation: sunFireInner 12903ms infinite alternate linear;
}
#ui .sun_fire:nth-child(6) {
    animation: sunFire 314450ms infinite linear;
}
#ui .sun_fire:nth-child(6) .sun_fire_inner {
    width: 53px;
    height: 53px;
    border-top: 4px solid #ffffff;
    border-right: 6px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 7px solid #ffffff;
    border-radius: 68% 37% 66% 18%;
    animation: sunFireInner 14516ms infinite alternate linear;
}
#ui .sun_fire:nth-child(7) {
    animation: sunFire 318317ms infinite linear;
}
#ui .sun_fire:nth-child(7) .sun_fire_inner {
    width: 97px;
    height: 97px;
    border-top: 2px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-radius: 23% 63% 53% 62%;
    animation: sunFireInner 13986ms infinite alternate linear;
}
#ui .sun_fire:nth-child(8) {
    animation: sunFirLeft 218696ms infinite linear;
}
#ui .sun_fire:nth-child(8) .sun_fire_inner {
    width: 106px;
    height: 106px;
    border-top: 2px solid #ffffff;
    border-right: 6px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-radius: 43% 68% 48% 54%;
    animation: sunFireInner 13953ms infinite alternate linear;
}
#ui .sun_fire:nth-child(9) {
    animation: sunFireLeft 211240ms infinite linear;
}
#ui .sun_fire:nth-child(9) .sun_fire_inner {
    width: 82px;
    height: 82px;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-radius: 63% 40% 42% 62%;
    animation: sunFireInner 12772ms infinite alternate linear;
}
#ui .sun_fire:nth-child(10) {
    animation: sunFireLeft 213740ms infinite linear;
}

@keyframes sunFire {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes sunFireLeft {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}



/*
@keyframes moveSun {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}
*/
/*
.sun {

   position: absolute;
   animation: moveSun  50s linear ;


}
*/
